## 누락값 : NaN


### * 누락값이 생기는 이유
    1- 데이타 자체적으로 존재
    2- 데이타 연결하면서
    3- 데이타 입력시
    4- 데이타 추출하여 연산할 때
    

### * 누락값 확인하기
    1- 누락값 인지 확인
        + df.isnull()
        + df.notnull()
    
    2- 누락값이 아닌 값의 행수 확인
        + df.shape[0] - df.count()
        
    3- 누락값 수 확인 
        +  numpy 라이브러리의 count_nonzero() 이용


    

### * 누락값 처리하기
     (1) 누락값 삭제하기 : dropna()
     (2) 누락값을 다른 값으로 대치하기 : fillna()

In [7]:
# 누락값 개념
from numpy import NaN, nan, NAN

print(NaN==False) # False
print(NaN==0) # False
print(NaN=='') # False


print(NaN == NaN) # False

False
False
False
False

In [14]:
# 누락값 비교 방법 : pandas 메소드 이용
import pandas as pd

print(pd.isnull(NaN)) #True
print(pd.isnull(False)) #False
print(pd.isnull(0))  #False
print(pd.isnull(''))  #False

print(pd.notnull(NaN)) #False

True
False
False
False
False

In [18]:
""" 누락값이 생기는 이유
    1- 데이타 자체적으로 존재
    2- 데이타 연결하면서
    3- 데이타 입력시
    4- 데이타 추출하여 연산할 때
"""

import pandas as pd

survey = pd.read_csv('./data/survey_survey.csv')
# survey
visited = pd.read_csv('./data/survey_visited.csv')
# visited

#2- 데이타 연결하면서
vs = visited.merge(survey, left_on='ident', right_on='taken')
vs

#   3- 데이타 입력시
new = pd.DataFrame([['900','DR-4']], columns=['ident','site'])
pd.concat([visited,new])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

        dated ident   site
0  1927-02-08   619   DR-1
1  1927-02-10   622   DR-1
2  1939-01-07   734   DR-3
3  1930-01-12   735   DR-3
4  1930-02-26   751   DR-3
5         NaN   752   DR-3
6  1932-01-14   837  MSK-4
7  1932-03-22   844   DR-1
0         NaN   900   DR-4

### Countires.tsv 파일에서

1. 년도별 각 나라의 생활비의 평균을 구한다

2. 1번의 데이타 셋에서 2000년도에서 2010년 동안의 데이타 셋을 추출

3. 값이 있는 데이타만 출력한다면

In [54]:
countries = pd.read_csv('./data/countries.tsv', sep='\t')
countries.head()

# (1) 년도별 각 나라의 기대수명의 평균을 구한다

expByYear = countries.groupby(['year'])['lifeExp'].mean()

# (2) 2000~2010 동안의 데이타를 추출하고자 한다면
expByYear.loc[range(2000,2011),]


# (3) 범위 지정으로 인해 NaN값이 생긴 경우 해결책 -> 해당 데이타만 추출하고자
expByYear[(expByYear.index >= 2000) & (expByYear.index<=2010)]

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

## 누락값 처리하기


(0) 누락값 확인

(1) 누락값 삭제

(2) 누락값 대치

In [5]:
""" 누락값 확인 """
ebola = pd.read_csv('./data/ebola_timeseries.csv')
# 제일 먼저 데이타 확인

# 누락값이 아닌 값의 개수 확인


# 누락값의 수 구하기


# 전체적인 누락값의 수를 얻으려면 - numpy 라이브러리의 count_nonzero() 이용

In [6]:
""" (1) 누락값 삭제하기 """

' (1) 누락값 삭제하기 '

In [7]:
""" (2) 누락값 대치하기 """

' (2) 누락값 대치하기 '

그럼 누락값 처리로 Data Cleaning 후 데이터 처리(Data Process)를 진행한다면?