#### 쉘모드 변경

- Code 쉘 모드 : 파이썬 코드 실행

- Markdown 쉘 모드 : 문서만들기

---

* Code 쉘 : esc > y
* Markdown 쉘 :exc > m

### 서울 지하철 평균 이용객 수 분석

##### 가장 이용객 수가 많은 지하철은?

+ 강남
+ 홍대
    + 서울
    + 합정
    
* 별표 하나는 번호 없는 목록 *


*별표로 감싸면 기울이기(별표와 띄어쓰기 없이)*

**별표 2개로 감싸면 굵게**

***별표 3개로 감싸면 기울이기 + 굵게***


가로선 --- 이면

---

인용문으로 >

> code script

<div align="center"><font color='red'> 헬로우 월드</font> !!!</div>

<img src = './dataset/puppy.jpg'>

[링크걸기](https://datascienceschool.net/view-notebook/39569f0132044097a15943bd8f440ca5/)
이미지 링크 [![텍스트](https://playdata.io/wp-content/uploads/2019/08/playdata_signature_w300h65.png)


## <font color = 'green'> 코드결과</font>

In [12]:
import pandas
p1 = pandas.read_csv('./dataset/subway_data1.csv',encoding='utf-8')

In [13]:
p1

    구 분      역명          총계      일평균
0   1호선     서울역  11,933,924  132,599
1   1호선     시청역   4,221,693   46,908
2   1호선     종각역   8,441,749   93,797
3   1호선   종로3가역   6,725,558   74,728
4   1호선   종로5가역   5,038,305   55,981
5   1호선    동대문역   3,116,104   34,623
6   1호선    신설동역   2,992,487   33,250
7   1호선    제기동역   3,757,112   41,746
8   1호선    청량리역   5,555,303   61,726
9   1호선    동묘앞역   1,827,379   20,304
10  2호선     시청역   4,393,136   48,813
11  2호선   을지입구역   9,405,942  104,510
12  2호선   을지3가역   3,477,494   38,639
13  2호선   을지4가역   2,352,311   26,137
14  2호선     신당역   2,765,117   30,724
15  2호선   상왕십리역   1,814,646   20,163
16  2호선    왕십리역   3,398,257   37,758
17  2호선    한양대역   2,056,895   22,854
18  2호선     뚝섬역   2,833,608   31,485
19  2호선     성수역   4,573,215   50,814
20  2호선   건대입구역   8,560,101   95,112
21  2호선     구의역   4,296,198   47,736
22  2호선     강변역   9,248,361  102,760
23  2호선   잠실나루역   3,219,975   35,778
24  2호선     잠실역  13,847,632  153,863
25  2호선     신천역   4,875,223   54,169
26  2호선  종합운동장역   2,488,607   27,651
27  2호선     삼성역  11,458,061  127,312
28  2호선     선릉역   9,436,568  104,851
29  2호선     역삼역   8,937,248   99,303
..  ...     ...         ...      ...
65  3호선   을지3가역   1,752,270   19,470
66  3호선   동대입구역   2,090,084   23,223
67  3호선     약수역   2,604,945   28,944
68  3호선     금호역   1,381,321   15,348
69  3호선     옥수역   1,925,203   21,391
70  3호선    압구정역   7,225,178   80,280
71  3호선     신사역   6,054,579   67,273
72  3호선     잠원역   1,050,243   11,669
73  3호선  고속터미널역  11,001,611  122,240
74  3호선     교대역   2,226,193   24,735
75  3호선  남부터미널역   6,795,973   75,511
76  4호선     미아역   3,358,022   37,311
77  4호선  미아사거리역   6,078,130   67,535
78  4호선     길음역   4,966,841   55,187
79  4호선   성신여대역   4,601,327   51,126
80  4호선  한성대입구역   2,918,343   32,426
81  4호선     혜화역   8,015,633   89,063
82  4호선    동대문역   4,498,608   49,985
83  4호선    충무로역   6,114,997   67,944
84  4호선     명동역   7,866,552   87,406
85  4호선     회현역   5,331,557   59,240
86  4호선     서울역   2,644,079   29,379
87  4호선   숙대입구역   3,112,627   34,585
88  4호선    삼각지역   1,140,703   12,674
89  4호선    신용산역   2,457,651   27,307
90  4호선     이촌역   1,792,511   19,917
91  4호선     동작역     523,615    5,818
92  4호선  총신대입구역   4,398,897   48,877
93  4호선     사당역   5,459,335   60,659
94  4호선    남태령역     206,457    2,294

[95 rows x 4 columns]

+ *맨 좌측의 숫자는 index이다* <br/>
+ **인덱스는 자동으로 설정되지만 사용자가 설정도 가능합니다.**<br/>
+ ***value는 data를 의미한다***


<table border='1'>
    <tr><td>인덱스</td><td>값</td></tr>
    <tr><td>1</td><td>데이터</td></tr>
    <tr><td>2</td><td>데이터2</td></tr>

<a href ="https://playdata.io/"> <img src='dataset/map_subway.jpg'></a>

이미지를 클릭하면 지하철 홈페이지 링크 걸기