## 파이썬의 리스트와 튜플

*비교정리*
    
       - 파이썬의 list / tuple
       - numpy의 dnarray
       - pandas의 Dataframe / Series

In [1]:
## (1) 22, 44, 11 요소의 리스트 a_data 생성
## (2) 길자, 길동, 길길 요소의 튜플 b_data생성
## (3) b_data 튜플을 a_data 리스트에 추가


a_data=[22,44,11]
b_data=('길동','길자','길길')
a_data.append(b_data)

a_data

[22, 44, 11, ('길동', '길자', '길길')]

In [3]:
## (4) b_list에서 2번째 요소까지 출력
b_data[:2]

('길동', '길자')

In [11]:
## (5) a_data를 튜플로 변경
##      11을 10으로 변경하려면?  #튜플이면 변경 불가
a_data[2] = 10
print(a_data)

a_data = tuple(a_data) 
a_data[2] = 11 #'tuple' object does not support item assignment

(22, 44, 10, ('길동', '길자', '길길'))

TypeError: 'tuple' object does not support item assignment

##  리스트 복습

- append(추가요소) : 리스트 맨 마지막에 하나 추가

- pop() : 마지막요소를 지움

- extend([추가요소들]) : 리스트 마지막에 여러 개 추가

- remove('요소값') : 해당 요소값 지움

---

- insert(idx, '데이타') : 원하는 위치에 자료 삽입

---
[슬라이싱]

- 리스트명(n:m) : n부터 m-1까지 데이타 추출

In [13]:
movies = ['어밴져스','기생충','가디언스갤럭시','어떤영화','유명한 영화']
movies

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화']

(1) '어젠져스2' 추가

In [14]:
movies.append('어벤져스2')
movies

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화', '어벤져스2']

(2) 마지막요소 제거

In [15]:
movies.pop()
movies

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화']

(3) '어벤져스2','기생충2' 요소를 한꺼번에 추가

In [17]:
movies.extend(['어벤져스2','기생충2'])
movies

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화', '어벤져스2', '기생충2', '어벤져스2', '기생충2']

(4) '어벤져스2' 요소 제거

In [19]:
movies.remove('어벤져스2')
movies

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화', '기생충2', '기생충2']

(5) 4번째 위치에 '오래된 영화' 추가

In [21]:
movies.insert(4,'오래된 영화')

(6) 영화목록에서 3번째에서 5번째까지 추출

In [23]:
movies[2:5]

['가디언스갤럭시', '어떤영화', '오래된 영화']