## Series

- DataFrame의 한 컬럼 데이터 세트

- Series 역시 DataFrame의 인덱스와 동일한 인덱스를 가진다

- 즉 Series는 컬럼이 하나인 데이타 구조체이고, DataFrame은 컬럼이 여러개인 데이타 구조체이다

In [2]:
#from pandas import Series
#age_in = Series([22,33,44,25,28])

import pandas as pd
age_in = pd.Series([22,33,44,25,28])
age_in

0    22
1    33
2    44
3    25
4    28
dtype: int64

In [3]:
# 인덱스 확인
age_in.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
# 데이터 값 확인
age_in.values

array([22, 33, 44, 25, 28], dtype=int64)

In [16]:
# 키를 확인
age_in.keys
age_in.keys()

RangeIndex(start=0, stop=5, step=1)

인덱스 지정하며 시리즈 생성

In [29]:
age_in = pd.Series([22,33,44,25,28], index = ['가','나','다','라','마'])
age_in

가    22
나    33
다    44
라    25
마    28
dtype: int64

In [35]:
# 인덱스만 확인
# 데이터값만 확인
# 키값 확인

#'다' 요소의 값을 100 지정

print(age_in.index)
age_in.values
age_in.keys


age_in['다'] = 100
age_in

Index(['가', '나', '다', '라', '마'], dtype='object')

가     22
나     33
다    100
라     25
마     28
dtype: int64

In [40]:
# Series 인덱스 중복 확인

srs = pd.Series(['가','나','다'], index=['a','b','a'])
srs
srs['a']

srs[0] #순번으로도 접근 가능
srs[1]
srs[-1]

'다'

딕셔러리를 시리즈 형태로 변환

In [50]:
# 딕셔러리를 시리즈 형태로 변환
info_list = { 'kim': 25, 'park':22, 'lee':34 }

info_srs = pd.Series(info_list)
info_srs

#인덱스만 확인 
info_srs.index
#데이터값만 확인
info_srs.values
#키값 확인
info_srs.keys()
#'lee' 요소의 값을 100 지정

info_srs['lee'] = 100
info_srs

kim      25
park     22
lee     100
dtype: int64

In [52]:
# 인덱스를 지정하면 -> NaN로
# 이미 인덱스 역할을 할 요소가 있는데 index를 지정해서 그런가
info_list = { 'kim': 25, 'park':22, 'lee':34 }

info_srs = pd.Series(info_list, index = [1,2,3])
info_srs

1   NaN
2   NaN
3   NaN
dtype: float64

In [5]:
## 가,나,다 요소에 A, B, C 인덱스를 가진 시리즈 생성

##  Series 인덱스

+ 리스트, 튜플의 index와  dict 의 key 와 유사

+ 같은 값의 index 가 가능 ( 즉, 중복 가능 )


-------------------------------------------------
- 리스트 튜플 index : 일련번호로 변경불가 / 순서 개념이 있다

- Series Index : 중복 가능 / 순서 개념이 있다

- Dict key : 중복 불가 / 순서 개념 없다

## 판다스를 사용하는 이유


만일 파이썬의 리스트와 판다스의 Series가 거의 유사하다면, 우리는 왜 파이썬의 리스트가 아닌 판다스의 Series를 사용할까? 

파이썬의 리스트를 사용하면 판다스에서 제공하는 다양한 기능을 사용할 수 없기 때문이다.

In [55]:
odd = [1,2,3,4,9]
#odd.mean()

AttributeError: 'list' object has no attribute 'mean'

In [57]:
odd = pd.Series(odd)
odd.mean()

3.8