## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull()
    * notnull()
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [4]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D'])
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [15]:
# 결측치 만들기 ( NaN, nan)
df.loc['B',1]=np.nan
df

df[2].loc['C']=np.nan
df

     0    1    2    3
A  1.0  1.0  NaN  1.0
B  1.0  NaN  1.0  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  1.0  1.0

In [16]:
# 누적합을 구할 때
df.cumsum()

     0    1    2    3
A  1.0  1.0  NaN  1.0
B  2.0  NaN  1.0  2.0
C  3.0  2.0  NaN  3.0
D  4.0  3.0  2.0  4.0

In [17]:
df.isnull()

       0      1      2      3
A  False  False   True  False
B  False   True  False  False
C  False  False   True  False
D  False  False  False  False

In [18]:
print(df.isnull().sum())

0    0
1    1
2    2
3    0
dtype: int64

In [21]:
print(df.isnull().count())

0    4
1    4
2    4
3    4
dtype: int64
0    0
1    0
2    0
3    0
dtype: int64

In [27]:
# 결측치 처리

df.dropna()
df.fillna(2) # 하나만 채울때
df.fillna({1:'NULL',2:-100})

     0     1      2    3
A  1.0     1 -100.0  1.0
B  1.0  NULL    1.0  1.0
C  1.0     1 -100.0  1.0
D  1.0     1    1.0  1.0